/************************************************************************************
	RESET
*************************************************************************************/
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, legend, fieldset, figure {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: 'trado';
	src: url('/ckeditor/customfonts/trado.eot');
	src: local('☺'), url('/ckeditor/customfonts/trado.woff') format('woff'), url('/ckeditor/customfonts/trado.ttf') format('truetype'), url('/ckeditor/customfonts/trado.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SourceSansPro-Regular';
	src: url('fonts/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
	url('fonts/SourceSansPro-Regular.woff') format('woff'),
	url('fonts/SourceSansPro-Regular.ttf')  format('truetype'),
	url('fonts/SourceSansPro-Regular.svg#SourceSansPro-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/BebasNeue-webfont.woff') format('woff'),
	url('fonts/BebasNeue-webfont.ttf') format('truetype'),
	url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'AllerRegular';
    src: url('fonts/aller_rg-webfont.eot');
    src: url('fonts/aller_rg-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/aller_rg-webfont.woff') format('woff'),
	url('fonts/aller_rg-webfont.ttf') format('truetype'),
	url('fonts/aller_rg-webfont.svg#AllerRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'proximanovascosfbold';
	src: url('fonts/proximanovascosfbold.eot?#iefix') format('embedded-opentype'), 
	url('fonts/proximanovascosfbold.woff') format('woff'), 
	url('fonts/proximanovascosfbold.ttf')  format('truetype'),
	url('fonts/proximanovascosfbold.svg#proximanovascosfbold') format('svg');
}

@font-face {
	font-family: 'badabb';
	src: url('fonts/badabb.eot?#iefix') format('embedded-opentype'), 
	url('fonts/badabb.woff') format('woff'), 
	url('fonts/badabb.ttf')  format('truetype'),
	url('fonts/badabb.svg#badabb') format('svg');
}

@font-face {
	font-family: 'cherl';
	src: url('fonts/cherl.eot?#iefix') format('embedded-opentype'), 
	url('fonts/cherl.woff') format('woff'), 
	url('fonts/cherl.ttf')  format('truetype'),
	url('fonts/cherl.svg#cherl') format('svg');
}

@font-face {
	font-family: 'proxima-nova-reg';
	src: url('fonts/proxima-nova-reg-webfont.eot?#iefix') format('embedded-opentype'), 
	url('fonts/proxima-nova-reg-webfont.woff') format('woff'), 
	url('fonts/proxima-nova-reg-webfont.ttf')  format('truetype'),
	url('fonts/proxima-nova-reg-webfont.svg#proxima-nova-reg') format('svg');
}

@font-face {
	font-family: 'Conv_Chewy';
	src: url('fonts/Chewy.eot');
	src: local('☺'), url('fonts/Chewy.woff') format('woff'), url('fonts/Chewy.ttf') format('truetype'), url('fonts/Chewy.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
    margin: 0px;
    padding: 0px;
font-family: 'Open Sans', sans-serif;
	font-size:13x;
	line-height:24px;
}

.container {
width:100%;
margin-left:auto;
margin-right:auto;
}


.navbar{
margin-bottom: 0px;
border: 0px solid transparent; 
}

.navbar-custom { 
background: url('images/bgheader.jpg');
border-bottom:5px solid #ABA111;
}

.navbar-header{
padding:10px 53px 10px 20px;
	}


.navbar-default {
font-size: 13px;
text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a {
color: #000;
padding-top: 25px;
border-top: 3px solid #F8E91A;
}

.dropdown-menu {
background:#AD4254;

}

.dropdown-menu > li > a {
color: #000;

}

.dropdown-menu > li > a:hover {
color: #000;
background: #AD4254;

}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
color: #000;
background-color: #AD4254;
   
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
background-color: #F8E91A;
border-top: 3px solid #1A73CD;
color: #000;
}

.form-control {
background:#EFEFEF;
	}
	
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.wrapper{
	background: #f6f6f6 url('images/bgin.jpg');
	padding: 50px 0;	
}

.s_wrapper{
    margin: 20px auto;
	width: 960px;
	height:auto;
	background: #fff;
	border-radius: 5px;
	padding:10px;
	border-top:2px solid #3C8DBC;	
	position: relative;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.bodycontainer{
    width: 990px; height: auto;overflow: hidden;
	padding-top:20px;
	padding-bottom:20px;
}

.contentcontainer{
    width: 990px; 
}

label{
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

.users{
	margin-left:50px;
}

.department{
	margin-left:50px;
}

.exams{
	margin-left:50px;
}

.tabel{
	margin-left:50px;
}

#frame2{
	display: none;
}

.user_input{
    width: 150px; 
}
.e_button{
    width: 120px; 
}
.question_dtl{
    width: 730px; 
}
a{
    text-decoration: none;
}

.table-new1 {
	border:1px solid #ccc;
	text-align: center; 
	background: #EEEEEE;
}

.table-new {
	border:1px solid #ccc;
	text-align: center; 
}

.table-new  tr:nth-child(odd) {
	background-color: #EEEEEE;
}

.table-new  tr:nth-child(even) {
	background-color: #FFFFFF;
}

.table-new tbody{
	border: 1px solid #ccc;
}

td {
	height:25px;
}

.line {
	border-right: 1px solid #ccc;
	padding-right: 2px;
	margin-right: 5px;
	border-top: 1px solid #ccc;
	color: #535353!important;
}

.line5 {
	border-right: 1px solid #ccc;
	padding-right: 2px;
	margin-right: 5px;
	color: #535353!important;
}

.line3 {
	padding-right: 2px;
	margin-right: 5px;
	border-top: 1px solid #ccc;
	color: #535353!important;
}

.line4 {
	padding:5px;
	color: #535353!important;
}

.line1{border-top: 1px solid #00688B;
	font-family: 'BebasNeueRegular'; 
	font-size: 14px; 
	color: #535353!important;
}

.line2{
	font-family: 'BebasNeueRegular'; 
	font-size: 16px; 
	color: #535353!important;
}

.error-msg{
	overflow:hidden;
	width:900px; 
}
.error-msg h5{
	overflow:hidden;
	color:#F00;
	text-transform:uppercase;
	background: white;
}

.left_menu{
	width: 990px;
	margin-left:45px;
	margin-top: 5px;
	font-family:'Conv_Chewy';
	text-align:center;
	color:#666;
}

.menu-item-1 a{
	background:  url('images/menubar1.png') no-repeat;
	width:131px;
	height:50px;
	display:block;
	padding-top: 17px;
	color:#666;
}

.menu-item-1 a:hover {
	background:  url('images/menubar1h.png') no-repeat;
	width:131px;
	height:50px;
	display:block;
	color:#CD6438;
}

.menu-item-2 a{
	background:  url('images/menubar2.png') no-repeat;
	width:130px;
	height:48px;
	display:block;
	padding-top: 17px;
	color:#666;
}

.menu-item-2 a:hover {
	background:  url('images/menubar2h.png') no-repeat;
	width:130px;
	height:48px;
	display:block;
	color:#CD6438;
}

.menu-item-3 a{
	background:  url('images/menubar3.png') no-repeat;
	width:131px;
	height:48px;
	display:block;
	padding-top: 17px;
	color:#666;
}

.menu-item-3 a:hover {
	background:  url('images/menubar3h.png') no-repeat;
	width:131px;
	height:48px;
	display:block;
	color:#CD6438;
}

.menu-item-4 a{
	background:  url('images/menubar4.png') no-repeat;
	width:133px;
	height:57px;
	display:block;
	padding-top: 17px;
	color:#666;
}

.menu-item-4 a:hover {
	background:  url('images/menubar4h.png') no-repeat;
	width:133px;
	height:57px;
	display:block;
	color:#CD6438;
}

.menu-item-5 a{
	background:  url('images/menubar5.png') no-repeat;
	width:129px;
	height:52px;
	display:block;
	padding-top: 17px;
	color:#666;
}

.menu-item-5 a:hover {
	background:  url('images/menubar5h.png') no-repeat;
	width:129px;
	height:52px;
	display:block;
	color:#CD6438;
}

.tombol{
	width: 110px;
	font-size: 14px;
	border-radius: 2px;
	display:       inline-block;
	padding: 5px 0px 4px;
	background:    #847CC5;
	color:         #fff;
	text-align:    center;
	font-family: 'BebasNeueRegular';
	cursor:pointer;
}

.tombolbackup{
	width: 110px;
	font-size: 14px;
	border-radius: 2px;
	display:       inline-block;
	padding: 5px 0px 4px;
	background:    #847CC5;
	color:         #fff;
	text-align:    center;
	font-family: 'BebasNeueRegular';
	margin-bottom:5px;
	cursor:pointer;
}

.tombolhapus{
	width: 110px;
	font-size: 14px;
	border-radius: 2px;
	display:       inline-block;
	padding: 5px 0px 4px;
	background:    #DE567A;
	color:         #fff;
	text-align:    center;
	font-family: 'BebasNeueRegular';
	margin-bottom:5px;
	cursor:pointer;
}

.tombolback{
	float:right;
	width: 110px;
	font-size: 14px;
	border-radius: 2px;
	display:       inline-block;
	padding: 5px 0px 4px;
	background:    #777F8A;
	color:         #fff;
	text-align:    center;
	font-family: 'BebasNeueRegular';
	border:none;
	cursor:pointer;
}

.tombolmulai{
	font-size: 28px;
	border-radius: 2px;
	padding: 30px;
	background:    #00A489;
	color:         #fff;
	font-family: 'BebasNeueRegular';
	width:100%;
	border:none;
	cursor:pointer;
}

.tomboltutup{
	float:right;
	width: 110px;
	font-size: 14px;
	border-radius: 2px;
	display:       inline-block;
	padding: 5px 0px 4px;
	background:    #777F8A;
	color:         #fff;
	text-align:    center;
	font-family: 'BebasNeueRegular';
	border:none;
	cursor:pointer;
	margin-bottom:5px;
}

.tombolclose{
	width: 110px;
	margin-bottom: 10px;
	display:       inline-block;
	padding: 6px 30px;
	background:    #003398;
	border-radius: 5px;
	color:         #fff;
	text-align:    center;
	text-shadow:   1px 1px 0 #000;
	font-family: 'BebasNeueRegular';
	cursor:pointer;
}

.tombolg{
	width: 110px;
	margin-bottom: 2px;
	display:       inline-block;
	padding: 5px 12px 4px;
	background:    #1EA825;
	border-radius: 5px;
	color:         #fff;
	text-align:    center;
	font-family: 'BebasNeueRegular';
	cursor:pointer;
	border:none;
}

.tombol0{
	width: 110px;
	margin-bottom: 5px;
	display:       inline-block;
	padding:       2px 20px 0px 20px;
	background:    #EC4B24;
	border-radius: 5px;
	color:         #fff;
	text-align:    center;
	text-shadow:   1px 1px 0 #000;
	font-family: 'BebasNeueRegular';
	cursor:pointer;
}

.tombol4{
	font-size: 14px;
	display:       inline-block;
	padding:       2px 10px 0px 10px;
	background:    #EC4B24;
	border-radius: 5px;
	color:         #fff;
	text-align:    center;
	text-shadow:   1px 1px 0 #000;
	font-family: 'BebasNeueRegular';
	cursor:pointer;
}

button {
margin-bottom: 10px;
width: 110px;
font-size: 14px;
border-radius: 2px;
display:       inline-block;
padding: 3px 0px 2px;
background:    #FFB400;
color:         #fff;
text-align:    center;
font-family: 'BebasNeueRegular';
border: none;
cursor:pointer;
	}
	
.wrapperlogin button {
	width:250px;
	height:60px;
	font-size: 24px;
	border-radius: 2px;
	display:       inline-block;
	background:    #00A489;
	color:         #fff;
	text-align:    center;
	font-family: 'BebasNeueRegular';
	border:none;
	cursor:pointer;
}



.tombol1{
	width: 110px;
	height:26px;
	font-size: 14px;
	border-radius: 2px;
	display:       inline-block;
	background:    #DE567A;
	color:         #fff;
	text-align:    center;
	font-family: 'BebasNeueRegular';
	border:none;
	cursor:pointer;
}

.tombol1c{
	width: 110px;
	font-size: 14px;
	display:       inline-block;
	padding: 6px 12px;
	background:    #003398;
	border-radius: 5px;
	color:         #fff;
	text-align:    center;
	text-shadow:   1px 1px 0 #000;
	font-family: 'BebasNeueRegular';
	float: right;
	margin-bottom:15px;
	cursor:pointer;
}

.tombol1cc{
	width: 110px;
	font-size: 14px;
	display:       inline-block;
	padding: 6px 12px;
	background:    #DE567A;
	border-radius: 5px;
	color:         #fff;
	text-align:    center;
	text-shadow:   1px 1px 0 #000;
	font-family: 'BebasNeueRegular';
	float: right;
	margin-bottom:15px;
	cursor:pointer;
}

.tombol1a{
	width: 110px;
	font-size: 14px;
	display:       inline-block;
	padding: 4px 12px;
	background:    #003398;
	color:         #fff;
	text-align:    center;
	text-shadow:   1px 1px 0 #000;
	font-family: 'BebasNeueRegular';
	border:none;
	cursor:pointer;
}

.tombol9{
	width: 110px;
	font-size: 14px;
	border-radius: 2px;
	display:       inline-block;
	padding: 4px 12px 3px;
	background:    #00A489;
	color:         #fff;
	text-align:    center;
	font-family: 'BebasNeueRegular';
	border:none;
	cursor:pointer;
}

.tombol2{
	font-size: 14px;
	display:       inline-block;
	padding:       2px 15px 0px 15px;
	background:    #AA0001;
	border-radius: 5px;
	color:         #fff;
	text-align:    center;
	text-shadow:   1px 1px 0 #000;
	font-family: 'BebasNeueRegular';
	cursor:pointer;
}

.tombol2a{
	font-size: 14px;
	border-radius: 5px;
	display:       inline-block;
	padding:       2px 15px 0px 15px;
	background:    #088A29;
	color:         #fff;
	text-align:    center;
	font-family: 'BebasNeueRegular';
	cursor:pointer;
}

.tombol2b{
	font-size: 14px;
	display:       inline-block;
	padding:       2px 13px 0px 13px;
	background:    #1A73CD;
	border-radius: 5px;
	color:         #fff;
	text-align:    center;
	text-shadow:   1px 1px 0 #000;
	font-family: 'BebasNeueRegular';
	cursor:pointer;
}


.tombolnext{
	width: 110px;
	font-size: 16px;
	display:       inline-block;
	padding:       5px 0px 5px 0px;
	width:250px;
	letter-spacing:2px;
	background:    #3C8DBC;
	color:         #fff;
	text-align:    center;
	font-family: 'BebasNeueRegular';
	cursor:pointer;
}



.tombol3{
	width: 110px;
	font-size: 14px;
	border-radius: 2px;
	display:       inline-block;
	padding: 3px 0px 2px;
	background:    #036906;
	color:         #fff;
	text-align:    center;
	font-family: 'BebasNeueRegular';
	border:1px solid #F27B53;
	cursor:pointer;
}

.atas {
	padding-top:20px;
	padding-bottom:10px;
}

.time{
	font-family: 'BebasNeueRegular';
	font-size: 16px;
	float: right;
	padding:10px;
	margin-top:10px;
	margin-right:10px;
	background-color: #FFF;
}

.xx{
	padding:20px;
	line-height:25px;
}

.navigasi{
	padding-bottom:10px;
}

.login{
	float:left;
	font-family: 'AllerRegular', arial;
	font-size:14px;
}

.subjudul
{
	float: left;
	font-size: 18px;
	padding-top:30px;
	padding-left:50px;
}

.subkanan
{
	float: right;
	font-size: 14px;
	padding-top:30px;
	padding-right:50px;
	
}

.input-form {
    width: 500px;
    height: 24px;
    padding:0px 10px;
    font-size: 14px;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #7F9DB9;
    border-radius: 2px;
}

.dd-form {
    width: 250px;
    height: 26px;
    padding:0px 6px;
    font-size: 14px;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #7F9DB9;
    border-radius: 2px;
	
}

.dd-form1  {
    border-radius: 0px !important;
    box-shadow: none;
}
.dd-form1 {
	
    width: 150px;
    height: 28px;
    padding-left:5px;
    font-size: 12px;
    line-height: 14px;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.garis{
	margin-top:20px;
	border-top: 1px solid #ccc;
	padding:20px 0px 0px 400px;
}

.garis1{
	border-top: 1px solid #3C8DBC;
}

.soal{
	line-height: 24px;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
	width: 580px;
}

.soal1{
	border:1px solid #3C8DBC;
	line-height: 24px;
	text-align: left;
	float:right;
	width: 780px;
}

.soal2{
	line-height: 16px;
	text-align: left;
	padding-left: 10px;
	width: 700px;
}

.soal3{
	line-height: 24px;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
	width: 560px;
}

.kunci{
	font-weight: bold;
	color: #E74C3C;
}

.areajawaban  {
    border-radius: 0px !important;
    box-shadow: none;
}
.areajawaban {
    text-align:justify;
    display: block;
    width: 740px;
    height: 40px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	float:left;
}

.input-form1 {
    display: block;
    width: 30px;
	margin-right:690px;
    height: 20px;
    padding: 0px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.input-form1a {
    display: block;
    width: 270px;
	margin-right:690px;
    height: 20px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	margin-bottom: 15px;
}

.input-form2 {
    width: 10px;
    height: 20px;
    padding: 0px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	margin-bottom:3px;
	float:left;
}

.input-form200 {
    width: 95px;
    height: 20px;
    padding: 0px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	margin-bottom:3px;
	text-align:center;

}

.input-form3 {
    width: 278px;
    height: 18px;
    padding: 4px 12px 3px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	margin-right:10px;
	margin-left:10px;
	float:left;
	
}

.input-form4 {
    width: 400px;
    height: 18px;
    padding: 4px 12px 3px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	margin-left:10px;
	float:left;
	
}

.panel-footer {
	padding: 10px 15px;
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.cari{
	margin-bottom:15px;
	width:100%;
}

.switch-wrapper {
    display: inline-block;
    position: relative;
    top: 3px;
}


.tombolslide {
	width: 42px;
	height: 20px;
	background: #333;
	margin: 0px auto;
	
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	position: relative;
	
	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	cursor:pointer;
}

.tombolslide input[type=checkbox] {
	visibility: hidden;
}

.tombolslide:after {
	content: '';
	position: absolute;
	top: 9px;
	left: 6px;
	height: 2px;
	width: 30px;
	
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	background: #111;
	
	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	
}



.tombolslide label {
	display: block;
	width: 14px;
	height: 14px;
	
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
	cursor: pointer;
	position: absolute;
	top: 3px;
	z-index: 1;
	left: 4px;
	
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	background: #fcfff4;
	
	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.tombolslide label:after {
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	background: #ff0000;
	left: 2px;
	top: 2px;
	
	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,1), 0px 1px 0px rgba(255,255,255,0.9);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,1), 0px 1px 0px rgba(255,255,255,0.9);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,1), 0px 1px 0px rgba(255,255,255,0.9);
}

.tombolslide input[type=checkbox]:checked + label {
	left: 24px;
}

.tombolslide input[type=checkbox]:checked + label:after {
	background: #00bf00;
}

.tombolslide1 {
	width: 42px;
	height: 20px;
	background: #333;
	margin: 10px auto;
	
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	position: relative;
	
	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	cursor:pointer;
}

.tombolslide1 input[type=checkbox] {
	visibility: hidden;
}

.tombolslide1:after {
	content: '';
	position: absolute;
	top: 9px;
	left: 6px;
	height: 2px;
	width: 30px;
	
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	background: #111;
	
	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	
}

.tombolslide1 label {
	display: block;
	width: 14px;
	height: 14px;
	
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
	cursor: pointer;
	position: absolute;
	top: 3px;
	z-index: 1;
	left: 4px;
	
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	background: #fcfff4;
	
	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.tombolslide1 label:after {
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	background: #ff0000;
	left: 2px;
	top: 2px;
	
	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,1), 0px 1px 0px rgba(255,255,255,0.9);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,1), 0px 1px 0px rgba(255,255,255,0.9);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,1), 0px 1px 0px rgba(255,255,255,0.9);
}

.tombolslide1 input[type=checkbox]:checked + label {
	left: 24px;
}

.tombolslide1 input[type=checkbox]:checked + label:after {
	background: #00bf00;
}

.tombolslide2 {
	width: 42px;
	height: 20px;
	background: #333;
	margin: 10px auto;
	
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	position: relative;
	
	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	cursor:pointer;
}

.tombolslide2 input[type=checkbox] {
	visibility: hidden;
}

.tombolslide2:after {
	content: '';
	position: absolute;
	top: 9px;
	left: 6px;
	height: 2px;
	width: 30px;
	
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	background: #111;
	
	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	
}

.tombolslide2 label {
	display: block;
	width: 14px;
	height: 14px;
	
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
	cursor: pointer;
	position: absolute;
	top: 3px;
	z-index: 1;
	left: 4px;
	
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	background: #fcfff4;
	
	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.tombolslide2 label:after {
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	background: #ff0000;
	left: 2px;
	top: 2px;
	
	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,1), 0px 1px 0px rgba(255,255,255,0.9);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,1), 0px 1px 0px rgba(255,255,255,0.9);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,1), 0px 1px 0px rgba(255,255,255,0.9);
}

.tombolslide2 input[type=checkbox]:checked + label {
	left: 24px;
}

.tombolslide2 input[type=checkbox]:checked + label:after {
	background: #00bf00;
}


.tombolslide3 {
	width: 42px;
	height: 20px;
	background: #333;
	margin: 10px auto;
	
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	position: relative;
	
	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	cursor:pointer;
}

.tombolslide3 input[type=checkbox] {
	visibility: hidden;
}

.tombolslide3:after {
	content: '';
	position: absolute;
	top: 9px;
	left: 6px;
	height: 2px;
	width: 30px;
	
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	background: #111;
	
	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	
}

.tombolslide3 label {
	display: block;
	width: 14px;
	height: 14px;
	
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
	cursor: pointer;
	position: absolute;
	top: 3px;
	z-index: 1;
	left: 4px;
	
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	background: #fcfff4;
	
	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.tombolslide3 label:after {
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	background: #ff0000;
	left: 2px;
	top: 2px;
	
	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,1), 0px 1px 0px rgba(255,255,255,0.9);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,1), 0px 1px 0px rgba(255,255,255,0.9);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,1), 0px 1px 0px rgba(255,255,255,0.9);
}

.tombolslide3 input[type=checkbox]:checked + label {
	left: 24px;
}

.tombolslide3 input[type=checkbox]:checked + label:after {
	background: #00bf00;
}

li { padding-left: 7px; padding-bottom:10px;}

.pagination {
    display: inline-block;
	float:right;
	font-family: 'BebasNeueRegular';
}
.pagination>li {
    display: inline;
	padding-left: 0;
}
.pagination>li>a,
.pagination>li>span {
    position: relative;
    float: left;
    padding: 5px 12px;
    margin-left: 2px;
    color: #fff;
    text-decoration: none;
    background-color: #FFB400;
}
.pagination>li:first-child>a,
.pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    z-index: 3;
	
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7
}
.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #7F9DB9;
}


input[type=radio   ]:not(old){
	width     : 2em;
	margin    : 0;
	padding   : 0;
	font-size : 1em;
	opacity   : 0;
	cursor:pointer;
}

input[type=radio   ]:not(old) + label{
	display      : inline-block;
	margin-left  : -2em;
	line-height  : 1.5em;
}

input[type=radio   ]:not(old) + label > span{
	display          : inline-block;
	width            : 0.875em;
	height           : 0.875em;
	margin           : 0.25em 0.5em 0.25em 0.25em;
	border           : 0.0625em solid rgb(192,192,192);
	border-radius    : 0.25em;
	background       : rgb(224,224,224);
	background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
	background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
	background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
	background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
	background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
	vertical-align   : bottom;
}

input[type=radio   ]:not(old):checked + label > span{
	background-image :    -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
	background-image :     -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
	background-image :      -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
	background-image : -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
	background-image :         linear-gradient(rgb(224,224,224),rgb(240,240,240));
}

input[type=radio]:not(old):checked +  label > span > span{
	display          : block;
	width            : 0.5em;
	height           : 0.5em;
	margin           : 0.125em;
	border           : 0.0625em solid rgb(115,153,77);
	border-radius    : 0.125em;
	background       : rgb(153,204,102);
	background-image :    -moz-linear-gradient(rgb(179,217,140),rgb(153,204,102));
	background-image :     -ms-linear-gradient(rgb(179,217,140),rgb(153,204,102));
	background-image :      -o-linear-gradient(rgb(179,217,140),rgb(153,204,102));
	background-image : -webkit-linear-gradient(rgb(179,217,140),rgb(153,204,102));
	background-image :         linear-gradient(rgb(179,217,140),rgb(153,204,102));
}

.pilihan1{
	width:50px;
	float:left;
}

.pilihan2{
	width:690px;
	float:left;
}

.pilihan3{
	width:20px;
	float:left;
}

.pilihan4{
	width:540px;
	float:left;
}

.top1
{
	height:27px;
	width:240px;
	float:left;
	background:#3C8DBC;
	padding:5px;
}

.top2
{
	height:27px;
	width:335px;
	float:left;
	text-align: center;
	background:#3C8DBC;
	padding:8px 5px 2px 5px;
	color: #FFCC33;
}

.top3
{
	height:27px;
	width:285px;
	float:left;
	background:#3C8DBC;
	padding:5px;
}

.top11
{
	height:27px;
	width:350px;
	float:left;
	background:#3C8DBC;
	padding:5px;
}

.top12
{
	height:27px;
	width:275px;
	float:left;
	text-align: center;
	background:#3C8DBC;
	padding:8px 5px 2px 5px;
	color: #FFCC33;
}

.top13
{
	height:27px;
	width:235px;
	float:left;
	background:#3C8DBC;
	padding:5px;
}

.top-head1
{
	width:252px;
	float:left;
}

.top-head2
{
	width:386px;
	float:left;
}

.top-head3
{
	width:252px;
	float:right;
}

.bottom-pag
{
	margin-top:10px;
	width:890px;
}

.dlink{
	color: #F5F5F5;
}
.dlink:hover {
    color: #FFCC33;
}
.dlink:active {
	color:#A3C2CC;
}

.kolomform1 {
	padding-top:5px;
	height:26px;
	width:190px;
	float:left;
}

.kolomform2 {
	width:590px;
	float:left;
}

.kolomform3 {
	width:110px;
	float:left;
}